<div class="cart-items-container" *ngIf="items.length > 0 " >
  <table *ngIf="items"  class="table">
    <thead class="thead-light">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>
          <button class="btn btn-danger" (click)="decrementQuantity(item)">-</button>
          {{ item.productQuantity }}
          <button class="btn btn-success" (click)="incrementQuantity(item)">+</button>
        </td>
        <td>{{ item.price }}</td>
        <td>{{ item.productQuantity * item.price }}</td>
        <td>
          <button class="btn btn-danger" (click)="removeProduct(item)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right my-3">Total cost: <strong>{{ getTotalCost() }}</strong></div>
  <div class="text-center">
      <button class="btn btn-primary">Proceed to checkout</button>
  </div>
  </div>
  <div class="empty-cart-message text-center" *ngIf="items.length === 0 && !removed">
    No items in cart
  </div>



