<div *ngIf="product" class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title uk-text-large">{{ product.name }}</h3>
  <div class="uk-grid-small uk-flex-middle" uk-grid>
    <div class="uk-width-auto">
      <img src="/assets/logo.png" alt="{{ product.name }}" class="uk-border-rounded">
    </div>
    <div class="uk-width-expand">
      <h4 class="uk-text-primary uk-margin-remove-bottom">{{ product.price | currency: 'USD' }}</h4>
      <p>{{ product.description }}</p>
    </div>
  </div>
  <button class="uk-button uk-button-primary uk-margin-top" (click)="addToCart(product)">Add to cart</button>
</div>
