<h2>Products</h2>
<div class="content">
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>
    <div *ngFor="let product of products | slice:0:20">
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">
          <a [routerLink]="['products',product.id]">{{product.name}}</a>
        </h3>
        <img [routerLink]="['products',product.id]" [src]="product.imageUrl" alt="{{product.name}}">
        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>
        <button (click)="share(product.name)" class="uk-button uk-button-default">
          Share
        </button>
      </div>
    </div>
  </div>
