<h2>Products</h2>


<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>First slide label</h5>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Second slide label</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h5>Third slide label</h5>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="content" >
  <div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlexFill>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products" class="product-item">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title >
          <a [routerLink]="['products',product.id]">{{product.name}}</a>
        </mat-card-title>
        </mat-card-header>
        <img mat-card-image [routerLink]="['products',product.id]" src="../../../assets/logo.png/">
        <mat-card-content>
          <p *ngIf="product.description">
            Description: {{ product.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="share(product.name)">
            Share
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
