<div class="nav-container uk-navbar-container">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="container">
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">E-commerceShop</a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li *ngIf="(auth.isAuthenticated$ | async) === true">
            <a  class="nav-link" mat-button [matMenuTriggerFor]="menu">Admin</a>
            <mat-menu #menu="matMenu">
              <a routerLink="dashboard"  class="nav-link" mat-menu-item>Users</a>
              <a routerLink="products" class="nav-link" mat-menu-item>Products</a>
            </mat-menu>
          </li>

          <li>
            <a routerLink="/cart" class="nav-link">
              <i class="material-icons">shopping_cart</i> Checkout
            </a>
          </li>

        </ul>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li class="uk-hidden@md" *ngIf="(auth.isAuthenticated$ | async) === false">
              <button id="qsLoginBtn" class="uk-button uk-button-primary uk-margin-small-right"
                (click)="loginWithRedirect()">
                Log in
              </button>
            </li>
            <li *ngIf="auth.user$ | async as user" class="uk-visible@md">
              <a href="#" id="profileDropDown" class="uk-navbar-toggle" uk-toggle="target: #profile-dropdown">
                <img [src]="user.picture" alt="Profile picture" class="uk-border-circle"
                  style="width: 40px; height: 40px;">
              </a>
              <div id="profile-dropdown" uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                  <li>{{ user.name }}</li>
                  <li>
                    <a routerLink="/profile">
                      Profile
                    </a>
                  </li>
                  <li>
                    <button (click)="logout()" class="btn btn-link dropdown-item">
                      Log out
                    </button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>



      </div>
    </div>
  </nav>
</div>
